#sign-up header img {
  width: 150px;
  cursor: pointer;
}

#sign-up .form-signup {
  width: 100%;
  max-width: 330px;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

#sign-up .form-signup .title {
  font-size: 2.5em;
}

#sign-up .input-box {
  position: relative;
  margin-bottom: 16px;
  text-align: left;
}

#sign-up .log-box {
  width: 100%;
  padding: 0.7rem;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
  font-size: 1em;
}

#sign-up .student-state {
  text-align: left;
}

#sign-up .student-state h2 {
  font-size: 1.3em;
  margin-bottom: 0.7rem;
}

#sign-up .student-state .radio-box {
  padding: 0.3rem 0;
}

#sign-up .log-button {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.7rem 1rem;
  display: block;
  border: none;
  border-radius: 0.3rem;
  background-color: #007bff;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#sign-up .log-button:hover {
  transform: translateZ(0) scale(0.98);
}

#sign-up footer {
  text-align: center;
}

#sign-up footer p {
  color: darkgray;
}
