body {
  font-family: sans-serif;
  line-height: 1.15;
}

div{
  text-align: center;
}

h1{
  font-size: 2em;
}
form{
  font-size: 1.0em;
  line-height: 200%;
  padding: 0.8em 0.5em;
}

.box-shape{
  position: relative;
  margin-bottom: 1rem;
}

.button{
  background-color: darkgrey;
  width: 200px;
  height: 25px;
  border: none;
  font-size: 1.0em;
}

.log-button{
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius:.3rem;
  color: #fff;
  background-color: #007bff;
  border-color:#007bff;
  display: block;
  width:100%;
}

.log-box{
  position: relative;
  box-sizing: border-box;
  width:100%;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.text-center{
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border:0
}
 
.singin-label{
  text-align: left;
}
